extends layout/index

append css
  :stylus
    #osmap
      height 960px
      *
        color #191F2B

append js
  script(src="http://www.openlayers.org/api/OpenLayers.js")

block content
  #content-wrapper
    #content
      #osmap
      :coffeescript
        Gamma.namespace "Map", (exports, top) ->
          #The center of UMD's College Park campus.
          campusCenter = new OpenLayers.LonLat -8565200, 4720100

          #Users can pan the map #{distance} meters from campusCenter.
          extent       = Math.pow 10, 4

          exports.map = map = new OpenLayers.Map "osmap"
            restrictedExtent: new OpenLayers.Bounds(
              (campusCenter.lon - extent), (campusCenter.lat - extent),
              (campusCenter.lon + extent), (campusCenter.lat + extent))
            center: new OpenLayers.LonLat(
              (eval "!{sessionOr('map_lon', 'campusCenter.lon')}"),
              (eval "!{sessionOr('map_lat', 'campusCenter.lat')}"))
            minZoomLevel: 14
            maxZoomLevel: 18
            zoom: eval "!{sessionOr('map_zoom', '16')}"
            layers: [ new OpenLayers.Layer.OSM ]
            controls: [
                new OpenLayers.Control.Navigation()
                new OpenLayers.Control.ScaleLine()
                new OpenLayers.Control.KeyboardDefaults()
              ]

          #FIXME: A hack to make the map respect @(min|max)ZoomLevel
          map.moveTo$ = map.moveTo
          map.moveTo = (lonlat, zoom, options) ->
            if @minZoomLevel <= zoom <= @maxZoomLevel
              @moveTo$ lonlat, zoom, options

          map.events.register "moveend", map, (e) ->
            Gamma.setSessionVars
              map_lon:  map.getCenter().lon
              map_lat:  map.getCenter().lat
              map_zoom: map.getZoom()
