/* ==|== Color palletes and classes =========================== */
@import 'colors.less';

/* ==|== HelpLess - LESS Helpers Library (http://m6tt.github.com/HelpLess) = */
@import 'libs/helpless.0.0.3.less';
#hl.reset();

/* ==|== Elements LESS library =========================== */
@import 'libs/elements.less';

/* ==|== HTML5 ✰ Boilerplate LESS library =========================== */
@import 'libs/boilerplate.less';
#blr.normalize(lighten(@color_navy, 20%), @color_dark-gray, @color_teal, desaturate(@color_teal, 30%), spin(@color_teal, -20));
* { margin: 0; }
html, body {
  height: 100%;
  overflow: hidden;
}

/* ==|== primary styles =====================================================
   Author: Z. Fogg
   ========================================================================== */

// Assorted variables.
@header_size: 120px;
@navWidth: 540px;
@navHeight: 120px;

// Helper classes.
.hpad { padding-right: 5px; padding-left: 5px; }
.vpad { padding-top: 10px; padding-bottom: 10px; }
.vexpand { height: 1%; overflow: hidden; }
.full-height {
  height: 100%;
  min-height: 100%;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keyframes (@name, @frames) {
  @-webkit-keyframes @name {@frames}
  @-moz-keyframes    @name {@frames}
  @-ms-keyframes     @name {@frames}
  @-o-keyframes      @name {@frames}
  @keyframes         @name {@frames}
}

body {
  #hl.transition(background-color, .8s, ease-out);
  text-shadow: 2px 1px 2px fade(@color_dark-gray, 70);

  h1 {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    font-size: 5em;
    font-weight: 900;
    letter-spacing: 0.07em;
    color: saturate(@color_dark-gray, 25%);
    text-shadow:  0  -4px  1px  lighten(@color_frost,     10%),
                 -8px 10px 20px fade(   @color_dark-gray, 40%);
  }
  h2 {
    font-size: 2.0em;
    margin-bottom: 0.1em;
    margin-top: 0.4em;
  }
  h3 {
    .hpad;
    font-size: 2.0em;
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }
  h4 {
    .hpad;
    font-size: 1.3em;
    margin-bottom: 0.2em;
  }
  p {
    font-size: 1.045em;
    margin: 0.5em;
  }
  .console-font { font-family: 'Lucida Console', Monaco, monospace; font-size: 0.8em; }

  #bg-image {
    .full-height();
    overflow: auto;
    background: url("/images/bg.png") repeat;
    #bg-gradient {
      .full-height();
      overflow: auto;
      #hl.radial-gradient(~"50% 45%, rgba(255, 255, 255, 0.1), rgba(149, 149, 149, 0.4) 32%,rgba(36, 36, 36, 0.8) 74%, rgba(0,0,0,1) 100%");
      #container {
        margin: 0 auto;
        max-width: 960px;
        font-size: 1.3em;
        padding-bottom: 20px;
        #header {
          color: white;
          min-height: 50px;
          margin-top: @header_size/3;
          margin-bottom: @header_size/7;
          a { text-decoration: none; }
          #logo {
            min-width: 380px;
            #logo-fname, #logo-lname {
              #logo-z, #logo-f { display: inline-block; }
              #logo-z { width: 110px; }
              #logo-f { width: 80px; }
              #logo-ach, #logo-ogg {
                font-size: 0.4em;
                letter-spacing: 0.01em;
              }
              #logo-z:hover + #logo-ach, #logo-f:hover + #logo-ogg {
                #hl.transition(opacity, 0.75s, ease-out);
                overflow: visible;
                width: auto;
                opacity: 1;
              }
            }
            position: relative;
            height: @header_size;
            line-height: 11*@header_size/13;
            h1 {
              #hl.transition(all, .5s, ease);
              font-size: 5*(@header_size/4);
            }
          } // #logo
          #nav {
            #hl.ui.list.subtle();
            @color_nav-shadow: fade(@color_dark-gray, 20%);
            .box-shadow(~"8px 10px 20px @{color_nav-shadow}, -8px 10px 20px @{color_nav-shadow}");
            .border-radius(3px, 3px, 3px, 3px);
            width: @navWidth;
            height: @navHeight;
            overflow: hidden;
            .navItem {
              #hl.ui.list.subtle();
              #hl.transition(all, .2s, ease-out);
              .box-shadow(~"inset 0 -5px 10px rgba(80, 80, 80, 0.7)");
              float: left;
              width: @navWidth/2;
              line-height: @navHeight/4;
              color: white;
              font-weight: bold;
              text-align: center;
              &:hover {
                .bg-color-frost();
                .box-shadow(~"inset 2px 5px 15px rgba(50, 50, 50, 0.8), inset -2px 0 15px rgba(70, 70, 70, 0.8)");
                color: @color_dark-gray;
              }
            } // .navItem
          } // #nav
        } // #header
        #main {
          clear: both;
          margin-top: 80px;
          .vexpand;
          padding-top: 10px;
          padding-bottom: 10px;
          .border-radius(4px, 0, 0, 4px);
          .box-shadow(~"-2px 2px 5px #555, 2px 1px 5px #555, inset 2px 0 8px #222, inset -2px -3px 8px #222");
          #hl.background-gradient(fade(lighten(@color_dark-gray, 10%), 65%),
                                  fade(darken( @color_dark-gray, 15%), 40%),
                                  fade(        @color_dark-gray, 50%)     );
          li {
            padding-bottom: 0.2em;
            padding-top: 0.2em;
          }
          ul > li:first-child { padding-top: 0em; }
          #content-wrapper {
            #content {
              min-width: 320px;
              color: white;
              .hpad;
              h3 { display: inline-block; }
              h3 + h4 { display: inline-block; }
              p { margin-top: 0.4em; }
            } // #content
          } // #content-wrapper
        } // #main
        #footer {
          .border-radius(0, 8px, 8px);
          #hl.background-gradient(fade(lighten(@color_dark-gray, 20%), 75%),
                                  fade(darken( @color_dark-gray, 20%), 50%),
                                  fade(        @color_dark-gray, 50%)     );
          .box-shadow(~"2px 1px 5px @{color_dark-gray}, -2px 1px 5px @{color_dark-gray}");
          .vexpand;
          #signature {
            p {
              .console-font;
              text-align: right;
              color: @color_frost;
            }
          } // #signature
        } // #footer
      } // #container
    } // #bg-image
  } // #bg-gradient
} // body


/* ==|== media queries ====================================================== */
/* Screen width <= 320px */
@media only screen and (max-width: 320px) {

}

/* Screen width > 320px */
@media only screen and (min-width: 321px) and (max-width: 480px) {

}

/* Screen width > 480px */
@media only screen and (max-width: 768px) {
  #logo {
    width: 530px;
    padding-bottom: 10px;
    #logo-fname { padding-left: 40px; }
    #logo-lname { padding-right: 40px; float: right; }
  }
  #main, #footer { width: 540px; }
}

/* Screen width > 768px */
@media only screen and (min-width: 769px) {
  #header, #main, #footer {
    min-width: 940px;
  }
  #logo {
    h1 {
      position: absolute;
      left: 0;
      #hl.transition(all, .5s, ease);
      font-size: 5*(@header_size/4);
    }
    #logo-ach, #logo-ogg {
      display: inline-block;
      overflow: hidden;
      width: 0;
      opacity: 0;
    }
  }
}

/* Screen width > 1024px */
@media only screen and (min-width: 1023px) and (max-width: 1280px) {

}

/* Screen width > 1280px */
@media only screen and (min-width: 1281px) {

}

/* ==|== endos ==============================================================
   Please define your styles before this section.
   ========================================================================== */
#blr.ns-helpers();
@media print { #blr.media-print(); }
