extends ../layout/index

append js
  != js("libs/yabble")
  :coffeescript
    require.run '/js/canvas/#{canvasScript}/index'

append css
  != css("canvas")
  :stylus
    #main
      padding-bottom 10px
      padding-top 10px


block content
  #content-wrapper.grid_12
    #content
      #canvas-container.unselectable
        canvas#canvas(oncontextmenu="return false;")
          h4 :(
          h4 Your browser doesn't support canvas.
        #canvas-controls-container
          h4#toggle-menu
            a Show
            |  controls.
          #canvas-controls
            h4 Canvas Controls
