extends ../layout/index

block content
  #content-wrapper
    #content

      mixin canvasAppTitle(title, subtitle)
        h3=title
        h4=subtitle

      mixin canvasAppLinks(links)
        for link in links
          p
            a(href=link[0])=link[1]

      .grid_6.suffix_6
        .content-halfBlock
          mixin canvasAppTitle("Gravity", "in a 2D universe.")
          p In my physics studies, while learning about gravity, I was inspired to implement the formula in a visual way. At the time, I was only capable of working with two dimensions, but I plan to use WebGL to rework this into a 3D simulation, probably utilizing Three.js.
          mixin
            canvasAppLinks([["/canvas/gravity","Run"],["https://github.com/zachfogg/gamma-node/tree/barneshut/static/js/canvas/gravity","View Source"]])

      .prefix_6.grid_6
        .content-halfBlock
          mixin canvasAppTitle("Squares", "Natural Motion")
          p Generating motion by creating functions that are mapped over 2d space.
          mixin
            canvasAppLinks([["/canvas/squares","Run"],["https://github.com/zachfogg/gamma-node/tree/master/static/js/canvas/gravity","View Source"]])

      .grid_6.suffix_6
        .content-halfBlock
          mixin canvasAppTitle("Grid", "Zoom and Perspective")
          p Trying to emulate the effect of a camera's zoom functionality. An ineresting visual, at least.
          mixin
            canvasAppLinks([["/canvas/grid","Run"],["https://github.com/zachfogg/gamma-node/tree/barneshut/static/js/canvas/grid","View Source"]])

